  <nav class="navbar navbar-default" style="margin-bottom:0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a  href="#" class="navbar-brand">
      <img src="assets/buddy-logo.png" height="40px"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

  <div class="jumbotron" id="jumbo">
  <br>
  <br>
    <div class="welcome text-center">
      <h1 id="buddyHeader"><b>Buddy SMS</b></h1>
    </div>
  <br>
    <div class="text-center" id="start">
     <a class="btn btn-start btn-lg" id="buddyStart" ui-sref="signup" 
      >send sms now</a>
    </div>
  </div>
  <div class="container-fluid" id="possy">
  <div class="row">
    <div class="text-center">
    <br>
      <h1 id="end">
<span><img src="assets/dots2.png">&nbsp;<img src="assets/dots.png">&nbsp;<img src="assets/dots3.png"></span>
      &nbsp;endless possibilities&nbsp;
<span><img src="assets/dots3.png">&nbsp;<img src="assets/dots.png">&nbsp;<img src="assets/dots2.png"></span></h1>
    <br>
    </div>
    </div>
  </div>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <h2 class="text-left" id="possyHeads"><span><img src="assets/hash.png"></span>Marketing Campaigns</h2>
        <p class="text-center" id="more">Launch marketing campaigns to keep your customers 
        in the know and expand your client base.</p>
      </div>
      <div class="col-md-4">
        <img src="assets/mkt.jpg">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="text-left" id="possyHeads"><span><img src="assets/hash.png"></span>Notifications</h2>
        <p class="text-center" id="more">Notify your customers anytime anywhere .
        Enhance customer loyalty and experience</p>
      </div>
      <div class="col-md-4">
        <img src="assets/notify.jpg">
      </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-left" id="possyHeads"><span><img src="assets/hash.png"></span>Interactions</h2>
        <p class="text-center" id="more">Interact with your customers .
        Expand your CRM communications.</p>
        <img src="assets/inter.jpg">
      </div>
    </div>

   <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left" id="possyHeads"><span><img src="assets/hash.png"></span>Transaction Alerts</h2>
        <p class="text-center" id="more">Deliver alert to your customers</p>
        <img src="assets/trans.jpg">
      </div>
    
      <div class="col-md-6">
        <h2 class="text-left" id="possyHeads"><span><img src="assets/hash.png"></span>Authentication & Security</h2>
        <p class="text-center" id="more">Verify Users and reduce fraud</p>
        <img src="assets/auth.jpg">
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center" id="possyHeads"><span><img src="assets/hash.png"></span>Add Value</h2>
        <p class="text-center" id="more">Create additional value for your services</p>
        <img src="assets/add2.jpg">
      </div>
    </div>
  </div>
  <hr>
<div class="container-fluid">
  <div class="row">
    <h1 class="text-center" id="supportServ">Support Services</h1>
    <br>
    <br>
  </div>
</div>
  <div class="container" id="support">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-center" id="possyHeads">Real Time Delivery Reports</h3>
        <div class="text-center">
          <p id="more">Get messaging delivery reports live.</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="text-center" id="possyHeads">High Speed</h3>
        <div class="text-center">
          <p id="more">Our platform provides high speed messaging delivery for 1000s of messages .No delays </p>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="text-center" id="possyHeads">Live Statistics</h3>
        <p class="text-center" id="more">Our platform provides real time information on your messaging campaigns
        , in a format for easy decision making .</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-center" id="possyHeads">Free Setup</h3>
        <p class="text-center" id="more">The only cost you incur is for sent messages</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-center" id="possyHeads">Easy Intergration</h3>
        <p class="text-center" id="more">Our API is easy to intergrate with your needs.
        We will support you in every step.</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-center" id="possyHeads">Direct Connectivity</h3>
        <p class="text-center" id="more">We are connected to +300 mobile operators for A2P 
        SMS Messaging</p>
      </div>
    </div>
  </div>
<br>
<br>
    <div class="container" id="contactForm">
      <div class="row">
        <div class="col-md-8">
        <br>
        <br>
          <form class="form-horizontal" role="form">
            <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-6">
              <input class="form-control" type="text" name="user" ng-model="mail.user" placeholder="Enter your name">
              </div>
            </div>
            <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-6">
              <input class="form-control" type="email" name="email" ng-model="mail.email" placeholder="Enter your email">
              </div>
            </div>
            <div class="form-group">
            <label class="control-label col-md-2">Comment/Query</label>
            <div class="col-md-6">
              <textarea class="form-control" type="text" cols="5" rows="6"
               name="comment" ng-model="mail.comment" placeholder="Enter your comment/query"></textarea>
              </div>
            </div>
            <div class="col-md-2 col-md-offset-2">
              <button class="btn btn-start btn-md" ng-click="sendMail()">Send</button>
            </div>
          </form>
          <br>
          <br>
        </div>
        <div class="col-md-4">
        <br>
          <div class="text-left"><h3>Our Contacts</h3></div>
        <br>
        <div class="text-left">
          <p>Office:: +254715649205</p>
          <p>Email :: info@buddysms.com</p>
          <p>Nairobi , Kenya </p>
          <p>Moi Avenue ,Nasico Towers 4th Floor</p>
        </div>
        <br>
        </div>
      </div>
    </div>
