<br>
<div class="container">
	<div class="row" style="padding: 20px;">
		<div class="col-md-8 col-md-offset-2">
		<div class="well">
			<div class="text-left">
			<p>Please ensure that the sender id you provide below <br> has less 
				than 11 characters , i.e FIKISHA has 7 characters. </p>
			</div>
		</div>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="control-label col-md-2">Sender Id</label>
					<div class="col-md-6">
					<input type="text" class="form-control" name="branded" 
					ng-model="brand.branded" placeholder="Enter desired Sender Id">
					</div>
				</div>
				<div class="col-md-4 col-md-offset-2">
					<button class="btn btn-start btn-md" ng-click="senderId()">
					Send Request</button>
				</div>
			</form>
		</div>
	</div>
</div>