<br>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 well">
			<div class="procedure">
				<form class="form-horizontal" role="form" name="smsPurch">
					<div class="form-group">
						<label class="control-label col-md-4"
						 ng-class="{'has-errors' : smsPurch.number.$invalid , 
                          'no-errors'  : smsPurch.number.$valid}"
						>Sms Credits</label>
						<div class="col-md-4">
						<input class="form-control" name="total" type="number" 
						ng-model="total" placeholder="Enter no of sms to buy"
						required ng>
						</div>
						<div class="error-container" ng-show="smsPurch.number.$error" 
                              ng-messages="smsPurch.number.$error">
						    <div class="error" ng-message="required">
						      <i class="ion-information-circled"></i> 
						      This field is required!
						  </div>
					</div>
					</div>
					<div ng-show="total < 500">
						<p>Minimum no of sms purchase is 500 </p>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Total cost plus V.A.T</label>
						<div class="col-md-4">
							<input class="form-control" placeholder="no of chars"
							my-sms-value="{{total * 4/100 + total}}" ng-model="text.messages" 
							readonly="readonly">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 well">
			<div class="text-center">
				<h2 id="possyHeads"><u> How to purchase</u></h2>
			</div>
			<p>1.Go to M-pesa Menu</p>
			<p>2.Go to Lipa na M-pesa</p>
			<p>3.Go to Buy Goods and Services</p>
			<p>4.Enter 825040 as the till number</p>
			<p>5.Enter {{ text.messages }} in amount</p>
			<p>6.Enter your M-pesa PIN</p>
			<p>7.Confirm Payment</p>
			<hr>
			<div class="alert alert-danger">
				<button class="close btn-sm btn-danger" data-dismiss="alert" aria-label="close">&times;</button>
			    <strong>Error!!</strong> Error Transaction does not exist.
			 </div>
			<form class="form-horizontal">
				<div class="form-group">
				<label class="control-label col-md-4">Enter Your phone number</label>
				<div class="col-md-5">
		<input class="form-control" name="sender_phone" type="text" ng-model="trans.sender_phone">
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-md-4">Enter transaction Id No.</label>
				<div class="col-md-5">
		<input class="form-control" name="transaction_reference" type="text" ng-model="trans.transaction_reference">
				</div>
				</div>
				<div class="col-md-4 col-md-offset-4">
					<button class="btn btn-start btn-md" type="button" ng-click="confirm()">Confirm Payment</button>
				</div>
			</form>
		</div>
	</div>
</div>
